.button {
  height: 27px;
  line-height: 27px;
  border-radius: 100px;
  text-align: center;
  font-size: 12px;
  font-size: 12px;
  padding: 0 12px;
  font-weight: 400;

  &.green {
    color: #ffffff;
    background-color: $apple-green;
    box-shadow: 0 1px 0 0 #6fbb1c;
    border: solid 1px #8adc30;
  }

  &.blue {
    color: #ffffff;
    background-color: $dodger-blue;
    box-shadow: 0 1px 0 0 #1a6dbd;
    border: solid 1px #69b2f8;
  }

  &.light-blue {
    background-color: $light-navy-blue;
    box-shadow: 0 1px 0 0 #14445c;
    color: #ffffff;
  }
}