
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
html{
  height: 100%;
}


footer{
  flex: 0 0 auto;
}
.mvp {
  background-color: $very-light-blue;

}

.container-fix {
  width: 1140px;
  margin: auto;

  @media screen and (max-width: 1150px) {
    width: 100%;
    padding: 0 15px;
  }

  &.main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .col-3 {
    flex-basis: 33.33333333%;
  }
  .col-2 {
    flex-basis: 20%;
  }
  .col-10 {
    flex-basis: 80%;
  }
  .col-4 {
    flex-basis: 25%;
  }

  .col-6 {
    flex-basis: 50%;
  }

  .col-8 {
    flex-basis: 66.66666667%;
  }

}

&.between {
  justify-content: space-between;
}

.flex-v-center {
  align-items: center;
}

.f-end {
  align-items: flex-end;
}

.flex-right {
  justify-content: flex-end;
}

.flex-left {
  justify-content: flex-start;
}

.left-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.inline {
  display: inline-flex;
  width: auto;
}

.full-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}