
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header {
}
footer {
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .col-3 {
    flex-basis: 33.33%;
  }
.col-2 {
  flex-basis: 20%;
}
  .col-10 {
    flex-basis: 80%;
  }
  .col-4 {
    flex-basis: 25%;
  }

  .col-6 {
   flex-basis: 50%;
  }
}
.col-6 {
  flex-basis: 50%;
}

&.between {
  justify-content: space-between;
}
.flex-v-center{
  align-items: center;
}

.flex-right {
  justify-content: flex-end;
}

.flex-left {
  justify-content: flex-start;
}

.left-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}