/*=====icons======*/
.logo-mini {
  @include svg('mini-logo-ico.svg', '#8e99a8', 32px, 21px, $mr: 0);
}

.facebook-ico {
  width: 25px;
  height: 25px;
  @include svg('facebook.svg', '#8e99a8', 25px, 25px, $mr: 0);
}

.inst-ico {
  width: 26px;
  height: 26px;
  @include svg('Instagram.svg', '#8e99a8', 26px, 26px, $mr: 0);
}

.youtube-ico {
  width: 34px;
  height: 25px;
  @include svg('youtube-logos.svg', '#8e99a8', 34px, 25px, $mr: 0);
}

/*=====icons======*/

.footer {
  padding: 45px 0;
  display: flex;
  .logo {
    margin-right: 66px;
  }

  .menu.mvp-style {
    &__footer {
      color: $bluey-grey;
      font-weight: 400;
    }

    li {
      display: inline-flex;
      align-items: center;
      color: $bluey-grey;
      font-weight: 400;
      font-size: 14px;
    }

    &.social {
      li{
        &:not(:last-child) {
          margin-right: 27px;
      }

    }
    }
  }

  .flex-grid {
    flex-wrap: nowrap;
  }

}