
.invalid{
  border: solid 1px #ec232d;
  color:#ec232d;
}

.valid {
  border: solid 1px #47c2ff;
}


.panel {
  font-size: 0.875rem;
  &.form {
    padding: 25px 42px;
    margin: 20px 0;
    &:last-child {
      margin-bottom:80px;
    }
    .label {
      font-size: 14px;
      color: $brownish-grey-two;
      line-height: normal;

      &.block {
        width: 100%;
        display: block;
      }
    }

    .middle-title {
      align-items: center;
      +.button__link {
        padding: 0;
      }
    }
    .separator-b {
      padding: 12px 0;
    }

    label, .label {
      font-size: 0.875rem;
      color: $greyish-brown;
      margin-bottom: 10px;
      width: 100%;
      display: block;
      text-align: left;
      padding-left: 0;
      &.inline {
        display: inline-flex;
        width:auto;
      }
    }

    .label {
      width: auto;
      display: inline-block;
      margin-bottom: 10px;
    }

    .row {
      padding: 10px 0;
      &:first-child {
        padding-top: 30px;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }

    .button__link {
      color: $light-navy-blue;
      text-decoration: underline;
      font-weight: 400;
      height:auto;
      line-height: normal;
      padding-bottom: 10px;
      font-size: 0.875rem;
    }

    .col-6 {
      max-width:397px;
    }
    .radio-label {
      display: flex;
      align-items: center;
      &:last-child{
        margin-bottom: 0;
      }
    }

    input[type="radio"] + .radio-label:before {
      width: 14px;
      height: 14px;
      border: solid 1px #979797;
    }

    input[type="radio"]:checked + .radio-label:before {
      background-color: $dodger-blue;
      box-shadow: inset 0 0 0 2px #fff;
    }

    .textarea {
      width: 100%;
      height: 137px;
      border-radius: 3px;
      background-color: #ffffff;
      border: solid 1px #d9d9d9;
      padding: 13px 18px;
      box-sizing: border-box;
      resize: none;
    }
  }

  &.blue-form {
    border-radius: 10px;
    background-color: $very-light-blue-three;
    padding:24px 35px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: none;

    .big-title {
      margin-bottom: 10px;
    }
  }
  &.first {
    margin-top: 25px;
  }

}

.input {
  &_mvp {
    width: 100%;
    height: 37px;
    box-sizing: border-box;
    line-height: 37px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #d9d9d9;
    font-size: 0.875rem;
    color: #000000;
    padding: 10px 14px;

    &:focus {
      border-color: #47c2ff;
    }
  }

  &.favicon-file {
    padding: 0;
    display: flex;
    align-items: center;
    color: #c4c4c4;

    img {
      width: 16px;
      height: 16px;
      margin: 0 14px;
      margin-right: 11px;
    }
  }

  &.site-address {
    padding-right: 100px;
  }
}

.dom-value {
  position: absolute;
  right: 0;
  height: 100%;
  top:0;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: center;
  text-align: center;
  color: #b6b6b6;
}

.current-plan-settings {
  .panel.blue-form{
    .button__link {
      padding-bottom: 0;
      color: $light-navy-blue;
      text-decoration: none;
      margin-right: 20px;
    }
    .btn-group{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 15px 0;
    }
  }


  .logo-mini {
    @include svg('mini-l.svg', '#ffffff', 13px, 9px, $mr: 10px);
  }
}



