

/*=====icons=====*/
.logo-ico {
    @include svg('logo.svg', '#d6d6d6', 138px, 21px, $mr: 0);
}

/*=====icons====*/

.header{
  padding:40px 0px;

  &__nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu.mvp-style {
  display: flex;
  align-items: center;
  font-weight: bold;
  li {
    display: inline-flex;
    position: relative;
    height: 100%;
    align-items: center;
    &:not(:last-child){
      margin-right: 50px;
    }

    &:hover .drop-list__content {
      display: block;
    }
  }

  &__header{
    color:black;
    justify-content: flex-end;
    height: 40px;

    li {
      height: 100%;
      display: flex;
      align-items: center;
    }

  }

  .badge {
    display: inline-block;
    height: 18px;
    padding: 3px;
    line-height: 13px;
    border-radius: 16px;
    text-align: center;
    cursor:pointer;
    color:white;
    letter-spacing: 1px;
    font-size: 0.75rem;
    background-color: $apple-green;
  }
  a, button {
    text-decoration: none;
  }
}

.logo {
  display: inline-flex;
  align-items: center;
  height: 41px;
}

.menu {
  &_filter-nav {
    height: 46px;
    display: flex;
    align-items: center;

    button {
      height: 100%;
      border-radius: 24px;
      font-size:0.75rem;
      padding:0 17px;
      color: $greyish-brown;
      &.active {
        background-color: $very-light-blue-two;
      }

    }
    li{
      display: inline-flex;
      height: 100%;
      align-items: center;
    }
  }

}