
/*===Icons===*/
.alarm-ico {
  @include svg('alarm-copy.svg', '#4d4d4d', 42px, 41px, $mr: 0);
}

/*===Icons===*/
.notif {
  width: 439px;
  height: 213px;
  border-radius: 10px;
  margin-bottom: 40px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 2px rgba(1, 55, 106, 0.22);
  padding: 37px 30px 17px;
  text-align: center;
  position: relative;
  transition: box-shadow .2s ease-in-out;

  &__title {
    font-size: 18px;
    text-align: center;
    color: $dodger-blue;
    margin: auto;
  }
  .ico {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
  }
  &__ico {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -25px;
    left: 50%;
    margin-left: -25px;
  }

  .close-ico {
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 20px;
    @include svg('close.svg', '#{$pinkish-grey}', 13px, 13px, $mr: 0);
    &:hover {
      @include svg('close.svg', '#747474', 13px, 13px, $mr: 0);

    }
  }

  p {
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    margin: 20px 0;
    color: $warm-grey;

    span {
      font-style: italic;
    }
  }
  
  &:hover .button{

  }

  &:hover .middle-title{

  }
  &:hover {
    box-shadow: 0 3px 18px 1px rgba(1, 55, 106, 0.22);
  }
}
