.section-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: $light-navy-blue;
  text-align: center;
  line-height: 28px;
  margin:35px 0;

  &:first-child{
    margin: 0;
    margin-bottom: 35px;
  }
}

.my-section {
  padding:80px 0;
  &.first {
    padding-top: 0;
  }
}

.separator-t {
  border-top: solid 1px $silver;

}
.separator-b {
  border-bottom: solid 1px $silver;
}
.separator-h {
  border-top: solid 1px $silver;
  border-bottom: solid 1px $silver;
}


.big-title {
  font-size: 36px;
  font-weight: bold;
  color: $light-navy-blue;
  margin-bottom: 40px;
  text-align: center;

  &.lg {
    max-width: 681px;
    margin:auto;
  }
}

.lg-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: $light-navy-blue;
  width:100%;
  text-align: center;
}

.middle-title{
  font-size: 18px;
  color: $light-navy-blue;
  font-weight: bold;
  transition: all .2s ease-in-out;

}

.small-title {
  font-size: 12px;
  font-weight: bold;
  color: $light-navy-blue;
}