
.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: $light-navy-blue;
  text-align: center;
  line-height: 28px;
  margin:35px 0;

  &:first-child{
    margin: 0;
    margin-bottom: 35px;
  }
}

.my-section {
  padding:80px 0;
  &.first {
    padding-top: 0;
    padding-bottom: 0;
  }

}

.separator-t {
  border-top: solid 1px $silver;

}
.separator-b {
  border-bottom: solid 1px $silver;
}
.separator-h {
  border-top: solid 1px $silver;
  border-bottom: solid 1px $silver;
}


.big-title {
  font-size: 2.25rem;
  font-weight: bold;
  color: $light-navy-blue;
  margin-bottom: 40px;
  text-align: center;
  &.lite {
    font-weight: 400;
  }

  &.lg {
    max-width: 681px;
    margin:auto;
  }
}

.lg-title {
  font-size:1.5rem;
  font-weight: bold;
  text-align: center;
  color:black;
  width:100%;
  text-align: center;
  &.lite {
    font-weight: 400;
  }

  &.lg {
    max-width: 681px;
    margin:auto;
  }
  &.blue {
    color: $light-navy-blue;
  }
  &.brown {
  color: $greyish-brown;
}
}

.middle-title{
  font-size: 1.125rem;
  color: $light-navy-blue;
  font-weight: bold;
  transition: all .2s ease-in-out;
  &.lite {
    font-weight: 400;
  }

  &.lg {
    max-width: 681px;
    margin:auto;
  }

  span {
    font-size:0.875rem;
    color: #8e8e8e;
    font-weight: 400;
  }

  &.paragraph {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 20px auto;

    &.xs {
      max-width: 409px;
      margin: 20px auto;
      line-height: 1.6;
      font-size:0.875rem;
    }
  }
  &.grey-two {
    color: $brownish-grey-two;
  }
}

.small-title {
  font-size: 0.75rem;
  font-weight: bold;
  color: $light-navy-blue;
}

form {
  width: 100%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.lite-blue {
  background-color: $very-light-blue-three;
}

.text-separator {
  text-align: center;
  width: 100%;
  color: #b6b6b6;
  font-weight: 400;
  position: relative;
  &.line {
    &:after {
      content:'';
      position: absolute;
      display: block;
      width: 94px;
      left:0;
      top:50%;
      height: 1px;
      background-color:$silver;
    }
    &:before {
      content:'';
      height: 1px;
      position: absolute;
      display: block;
      width: 94px;
      right:0;
      top:50%;
      background-color:$silver;
    }
  }
}