
/*Path*/
$img-path: "../img/" !default;
$svg-path:"der/";

/*Colors*/
$color :#00A7FF;
$color-editor:#0270dd;
$body:#fafbff;
$red :#a71010;
$dark:#1b1b1b;
$black-hover:#171717;
$lite-dark:#262626;
$myselect-dark:#323232;
$border:#e9e9e9;
$color-grey:#8b8b8b;
$color-grey-editor:#999999;
$border-dark:#4d4d4d;
$border-grey:#363636;
$disabled:#666666;




/*=======MVP======*/
$brownish-grey:#646464;
$brownish-grey-two: #5a5a5a;
$apple-green: #7ed321;
$bluey-grey: #8e99a8;
$dodger-blue: #3c9fff;
$light-navy-blue: #245c78;
$warm-grey: #6f6f6f;
$pinkish-grey: #cccccc;
$very-light-blue: #fafbff;
$silver:#d9d9da
/*=======MVP======*/
/*Typography*/

