
.win-setting {
  display: none;
  width: 326px;
  background-color: #181818;
  border-radius: 15px;
  font-size: 14px;
  color: #d6d6d6;
  z-index: 999;

  .label_normal {
    color: #8b8b8b;
    font-size: 12px;
  }
  label {
    font-size: 12px;
  }

  .group-btn label:not(:last-child) {
    margin-right: 7px;
  }

  .btn {
    color: #f8f9fd;
    border-radius: 0;
    &.active {
      background-color: #262626;
    }
    &:hover {
      color: $color-editor;
    }
  }
  &__header {
    height: 45px;
    background-color: black;
    color: #f8f9fd;
    font-weight: 400;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px 15px 0 0;

    .btn {
      color: #1071e9;
      font-size: 14px;
      font-weight: 700;
      text-align: right;
      padding: 0;
      margin-right: 25px;
      &:hover {
        color: #1071e9;
      }
    }

    .drag {
      width: 75%;
      padding-left: 20px;
      height: 100%;
      color:#f8f9fd;
      &:before {
        margin-right: 10px;
      }
    }
  }

  .color-pick {
    margin-right: 9px;
  }

  .input_dark {
    box-sizing: border-box;
    padding: 0 10px;
    text-align: center;
    height: 31px;
    background-color: #353535;
    border: 1px solid;
    &.search {
      text-align: center;
      border-color: transparent;
      &:active {
        border-color: $border-grey;
      }
    }
  }
  .input-wrp {
    padding: 15px 0;
    .search-ico {
      position: absolute;
      top: 50%;
      margin-top: -6px;
      right: 12px;
    }

    &:hover .search-ico {
      @include svg('search-ico.svg', '#ffffff', 16px, 16px, $mr: 0);

    }
  }

  section {
    padding: 0 20px;
  }

  .wrap-icons {
    margin-top: 15px;
    border-top: 1px solid $border-grey;
    max-height: 316px;
    overflow: hidden;
    border-radius: 0 0 15px 15px;

    .list-icon {
      max-height: 316px;
      &__item {
        float: left;
        width: 25%;
        height: 76px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $border-grey;
        border-right: 1px solid $border-grey;
        box-sizing: border-box;
        cursor: pointer;
        @include animation;
        &.active {
          background-color: #0270dd;
          &:hover {
            background-color: #0270dd;
          }
        }
        &:hover {
          background-color: #000;
        }

        img {
          display: block;
          margin: auto;
          width: 45px;
          height: 45px;
        }
      }
    }


    &.buttons {
      li {
        width: 50%;
        text-align: center;
        justify-content: center;

        &:hover {
          background-color: #1f1f1f;
        }

        &:last-child {

        }

        &.active {
          background-color: #1f1f1f;
          .btn.blue{
            box-shadow: 0px 0px 29px 0px rgba(18, 124, 255, 0.36);
          }
        }
      }
      margin-top: 0;
      border-top: none;
    }

    .myscroll {
      width: 5px;
    }
  }

  .tabs {
    &__btn {
      display: flex;
      align-items: stretch;
      height: 36px;


      .btn {
        padding: 0 19px;
        font-size: 12px;
        border-top:1px solid transparent;
        color:white;
        &.active {
          background-color: #262626;
          color: $color-editor;
          border-color: $border-dark;
        }
        &:hover {
          color: $color-editor;
        }
      }
    }

    &__content {
      display: none;
      padding: 18px 0;
      background-color: #262626;
      border-radius: 0 0 15px 15px;
      &.active {
        display: block;
      }

      &.nopadding {
        padding: 0;
      }
      .label {
        color: inherit;
        font-size: 12px;
        display: flex;
        align-items: center;
        margin-bottom:4px;
        &:before {
          order: 2;
          margin-left:13px;
        }
        &_normal {
          margin-bottom: 0;
        }
      }
      .input-wrp {
        padding: 0;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
      .input_dark {
        background-color:#323232;
        color: #a1a1a1;
        border: 1px solid #4d4d4d;
        height: 33px;
        width: 100%;
        text-align: left;
      }
    }
  }

  .circle-range {
    width: 42px;
    height: 42px;
    border: 1px solid #a5a5a5;
    border-radius: 50%;
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      background-color: #9e9e9e;
      position: absolute;
      top: 50%;
      margin-top: -3px;
      left: 50%;
      margin-left: -3px;
      border-radius: 50%;
    }

    &:before {
      content: '';
      display: block;
      width: 2px;
      height: 21px;
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: #9e9e9e;
      margin-left: -1px;
      -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
      transform: rotate(20deg);
      transform-origin: top center;
    }
    &__value {
      position: absolute;
      right: -20px;
      top: -1px;
      font-size: 12px;
    }
    sup {
      top: -0.5em;
      left: 0
    }
  }
  .vcenter {
    justify-content: space-between;
    .wrap {
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }

  .slider {
    height: 2px;
    background-color: #127cff;
    position: relative;
    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      width: 14px;
      height: 14px;
      background-color: #127cff;
      top: 50%;
      border-radius: 50%;
      margin-top: -7px;
      cursor: pointer;
    }
    &:after {
      opacity: 0;
      right: 0;
    }
    &_dblrange {
      &:before {
        left: 0;
        background-color: #cd1bdd;
      }
      &:after {
        opacity: 1;
      }
      &.gradient {
        background-image: linear-gradient(to right, #cd1bdd 0%, #127cff 100%);
      }
    }
  }

  .input-wrp {
    &.border {
      border-top: 1px solid $border-dark;
      margin-top: 20px;
      padding-top: 20px;
    }
    .ico {
      position: absolute;
      top: 4px;
      width: 16px;
      left: 18px;
      height: 16px;
      margin-top: -8px;

      &.mobile-ico {
        left: 14px;
      }

      &.tablet-ico {
        left: 17px;
      }
    }
  }

  .vertical-c {
    font-size: 12px;
  }

  .label_dark {
    display: inline-flex;
    &:before {
    }
  }

  .desktop-ico {
    @include svg('desktop.svg', '#959595', 22px, 22px, $mr: 0);
    &:hover {
      @include svg('desktop.svg', '#{$color-editor}', 22px, 22px, $mr: 0);
    }
    &.active {
      @include svg('desktop.svg', '#{$color-editor}', 22px, 22px, $mr: 0);
    }

    &:before {
      right: 44px;
    }
  }

  .mobile-ico {
    @include svg('mobile.svg', '#959595', 22px, 22px, $mr: 0);
    &:hover {
      @include svg('mobile.svg', '#{$color-editor}', 22px, 22px, $mr: 0);
    }
    &.active {
      @include svg('mobile.svg', '#{$color-editor}', 22px, 22px, $mr: 0);
    }
    &:before {
      right:36px;
    }
  }

  .tablet-ico {
    @include svg('tablet.svg', '#959595', 22px, 22px, $mr: 0);
    &:hover {
      @include svg('tablet.svg', '#{$color-editor}', 22px, 22px, $mr: 0);
    }
    &.active {
      @include svg('tablet.svg', '#{$color-editor}', 22px, 22px, $mr: 0);
    }
    &:before {
      right: 41px;
    }
  }

  .desktop-ico {
    @include svg('desktop.svg', '#959595', 22px, 22px, $mr: 0);
    &:hover {
      @include svg('desktop.svg', '#959595', 22px, 22px, $mr: 0);
    }
  }

  .tablet-ico {
    @include svg('tablet.svg', '#959595', 22px, 22px, $mr: 0);
    &:hover {
      @include svg('tablet.svg', '#959595', 22px, 22px, $mr: 0);
    }
  }
  .mobile-ico {
    @include svg('mobile.svg', '#959595', 22px, 22px, $mr: 0);
    &:hover {
      @include svg('mobile.svg', '#959595', 22px, 22px, $mr: 0);
    }
  }

  .checkbox {
    &_dark {
      position: absolute;
      opacity: 0;

      &:checked {
        + .label_dark {
          &:after {
            display: inline-block;
          }
          .desktop-ico {
            @include svg('desktop.svg', '#{$color-editor}', 22px, 22px, $mr: 0);
          }

          .tablet-ico {
            @include svg('tablet.svg', '#{$color-editor}', 22px, 22px, $mr: 0);
          }
          .mobile-ico {
            @include svg('mobile.svg', '#{$color-editor}', 22px, 22px, $mr: 0);
          }
        }
      }
    }

  }
  .ico-wrp {
    display: inline-flex;
    margin-right: 34px;
    &:first-child {
      margin-right: 37px;
    }
    &:last-child {
      margin-right: -7px;
    }
  }

  .input-wrp_display {
    display: flex;
    align-items: center;
  }

  .btn {

    &.yellow {
      background-color: #ffba00;
      @include animation;
      &:hover {
        box-shadow: 0px 0px 29px 0px rgba(255, 186, 0, 0.47);
        color:white;
      }

      &.gradient {
        background-image:linear-gradient(to right, lighten(#ffba00, 10%) 0%, #ffba00 100%);
      }
    }

    &.grey {
      background-color: #353535;
      @include animation;
      &:hover {
        box-shadow: 0px 0px 29px 0px rgba(53, 53, 53, 0.36);
      }
    }

    &.br {
      border-radius: 10px;
    }

    &.dbl-br {
      border-radius: 18px;
    }


    &.inv {
      color:black;
      &:hover {
        color:black;
      }
    }


    &.blue {
      background-color: #127cff;
      &:hover {
        box-shadow: 0px 0px 29px 0px rgba(18, 124, 255, 0.36);
        color:white;
      }

      &.gradient {
        background-image:linear-gradient(to right, rgb(18,124,255) 0%, rgb(3,79,172) 100%);
      }
    }
  }
}

.drag {
  cursor: move;
  display: flex;
  align-items: center;
}

.filter-list {
  display: flex;
  /*justify-content: space-between;*/
  flex-wrap: wrap;
  padding-bottom: 5px;
  justify-content: flex-start;
  @include respondTo(xlg) {
    justify-content: flex-start;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 53px;
    margin-right: 6px;
    margin-bottom: 12px;

    @include respondTo(xlg) {
      margin-bottom: 12px;
      margin-right: 17px;
    }
    img {
      width: 53px;
      height: 52px;
      display: block;
      margin-bottom: 5px;
    }

    button {
      display: block;
      text-align: center;
      color: #989898;
      font-size: 11px;
      font-weight: 400;
      text-decoration: none;
      @include animation;
      &.active {
        color: $color-editor;
        img {
          border: 2px solid #127cff;
          border-radius: 4px;

        }
      }

      &:hover {
        color: $color-editor;
      }
    }
  }

}

.image-control {

  &__item {
    display: flex;
    height: 27px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    &:last-child {
      margin-bottom: 0;
    }
    @include respondTo(xlg) {
      height: 35px;
    }

    input {
      margin: 0;
      padding: 0;
      flex-basis: 172px;
    }

    .form-label {
      color: #7c7c7c;
      flex-basis: 10%;
      text-align: right;
    }
    span {
      flex-basis: 30%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .ico {
        margin: 0;
        margin-right: 9px;
        position: relative;
        left: -2px;
      }

    }

    &:hover label {
      color: #b3d5ff;
    }

  }
}

.flex-field {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
  height: auto;
  align-items: center;
  label {
    display: inline-block;
  }
  input {
    flex-basis: 152px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  input[type=range] {
  }
  .form-label {
    display: flex;
    align-items: center;
    label {
      margin-left: 5px;
    }
  }

  .line-ico {
    transform: rotate(90deg);
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background: svg-load('#{$img-path}resize.svg', 'fill:#127cff');
  }

  &_full {

  }
  span {
    .ico {
      margin-right: 5px;
    }
  }

  &_right {
    width: 274px;
    float: right;
  }

  &:hover label {
    color: #b3d5ff;
  }
  &:hover input[type=range]::-webkit-slider-thumb {
    background: #b3d5ff;
  }
  &:hover input[type=range]::-moz-range-thumb {
    background: #b3d5ff;
  }
  &:hover input::-ms-thumb {
    background: #b3d5ff;
  }
  &:hover input[type=range]::-webkit-slider-runnable-track {
    background: #b3d5ff;
    border-color: #b3d5ff !important;
    outline-color: #b3d5ff;
    outline: none;
  }
  &:hover input[type=range]::-moz-range-track {
    border-color: #b3d5ff !important;
  }
  &:hover input::-ms-track {

  }
}


.label {

  &_dark {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:before {
      content: '';
      display: inline-block;
      width: 13px;
      height: 13px;
      background-color: #272727;
      border: 1px solid $border-dark;
      border-radius: 1px;
      margin-right: 7px;
    }

    &:after {
      content: '';
      position: absolute;
      display: none;
      left: 1px;
      bottom: 2px;
      width: 14px;
      height: 13px;
      background: svg-load('#{$img-path}rounded.svg', 'fill:#127cff') no-repeat center;
      background-size: cover;
      @include zoomIn($duration: .1s);
      @include animation;
    }
  }

}

.bg-view {
  height: 82px;
  position: relative;
  background-color: #272727;
  border: 1px solid #5d5d5d;
  width: 100%;
  margin-top: 27px;
  background: url("#{$img-path}bg.jpg") no-repeat center;
  background-size: cover;
  @include respondTo(xlg) {
    height: 128px;
  }

  &:after {
    content: '';
    position: absolute;
    display: block;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: black;
    @include animation;
  }

  &:hover .bg-view__control {
    opacity: 0.5;
  }

  &:hover:after {
    opacity: 0.76;
  }

  &__control {
    width: 121px;
    height: 31px;
    background-color: black;
    position: absolute;
    display: flex;
    z-index: 25;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    left: 0;
    opacity: 0;
    @include animation;

    .btn {
      color: white;
      margin: 0;
      padding: 0;
      &:hover {
        color: $color-editor;
      }
    }
    .label_red {
      &:hover {
        color: $red;
      }
    }
  }

}

@keyframes control {

  0% {
    opacity: 0;

  }

  100% {
    opacity: 1;

  }
}

.drag-color {
  margin-top: 7px;
  &__color {
    display: flex;
    padding: 0 6px;
    align-items: center;
    box-sizing: border-box;
    text-transform: uppercase;
    line-height: 10px;
    width: 89px;
    height: 26px;
    font-size: 12px;
    background-color: #272727;
    border: 1px solid $border-dark;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  }
  .drag-ico {
    &:before {
      top: 4px;
      margin-right: 10px;
    }
  }
}

.range_mm {
  width: 100%;
  background-image: linear-gradient(to right, #cd1bdd 0%, #127cff 100%);
}

.open-check {
  display: none;
  @include fadeIn($duration: .2s);
}

.checkbox_dark {
  &:checked {
    ~ .open-check {
      display: flex;
    }
  }
}

.type-wrap {
  display: none;
  overflow: hidden;
  @include animation;
  &.active {
    display: block;
    height: auto;
  }
}

@keyframes test {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 400px;
  }
}


